# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 忽略IDEA的配置目录
.idea/

# 忽略Maven或Gradle的构建目录
target/
out/

# 忽略日志文件
*.log

# 忽略其他临时文件
*.tmp
*.hprof

# 忽略其他版本控制系统的目录
.svn/
.hg/

# 忽略系统文件和隐藏文件
.DS_Store
__pycache__/

# 其他可能的项目相关文件
vssver.scc
vssver2.scc